:root {
    --navbar: #333333;

    /* Navbar Button Properties */
    --navbar-button: #058ED9;
    --navbar-button-hover: #283F3B;
    --navbar-button-border: #058ED9;

    /* */
    --background: #1f1f1f;

    /* Table Properties*/
    --table: #FFD07B;
    --table-top:#FDB833;

    /* Title Properties */
    --title-background: #333333;
    --title-text: #ffffff;

    /* General Properties */
    --text: #000000;
    --border: #000000;
}

body {
    background: var(--background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

div {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    color: var(--title-text);
    text-align: center;
    width: 100%;
    margin: 0px;
}


#navbar {
    padding: 20px 0 0 10px;
    height: 96%;
    width: 15%;
    position: fixed;
    
    display: block;
    
    background: var(--navbar);
    border-radius: 10px;
}


#navbar h2 {
    color: white;
}

#systems {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#navbar #option-buttons {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#navbar #option-buttons button {
    background-color: #32DE8A;
    border-color: #32DE8A;
}

#navbar button {
    transition-duration: 0.2s;
    border-radius: 8px;
    background-color: var(--navbar-button);
    margin-bottom: 8px;
    color: var(--text);
    border: none;
    padding: 10px;
    font-size: larger;
}

#navbar button:hover, #navbar #option-buttons button:hover {
    box-shadow: 
        0 12px 16px 0 rgba(0,0,0,0.24), 
        0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
}

#navbar #allSystemsButton {
    background-color: #4d23a8;
    width: 97%;
    padding: 36px;
    color: #FFE3E3;
    font-size: 35px;
}

#navbar #allSystemsButton:hover, #navbar #allSystemsButton:focus {
    background-color: #3E1C87;
}

#navbar #option-buttons button:hover, #navbar #option-buttons button:focus {
    background-color: #1DAF68;
}



#navbar button:hover {
    background-color: #04699F;
}

#SystemName {
    background: var(--title-background);
    width: 100%;
    font-family:
        system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;

    width: 84%;
    margin-left: 16%;
    border-radius: 16px; 
}

#tables {
    display: block;
    width: 84%;
    margin-left: 15%;
    padding: 10px 0 0 20px;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border: 2px var(--border) solid;
    border-radius: 20px;
}

table tr:nth-child(n) {
    background: var(--table);
}

table tr:nth-child(1) {
    background: var(--table-top);
}

tr {
    border: 1px black dotted;
}

td {
    text-align: center;
    padding: 10px;
    font-size: larger;
}