:root {
    --navbar: #333333;

    /* Navbar Button Properties */
    --navbar-button: #058ED9;
    --navbar-button-hover: #283F3B;
    --navbar-button-border: #058ED9;

    /* */
    --background: #1f1f1f;

    /* Table Properties*/
    --table: #FFD07B;
    --table-top:#FDB833;

    /* Title Properties */
    --title-background: #333333;
    --title-text: #ffffff;

    /* General Properties */
    --text: #000000;
    --border: #000000;
}

body {
    background-color: #111;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

nav p {
    margin-right: 700px;
    text-decoration: none;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
li {
    display: inline-block;
    margin: 0 20px;
}
  
a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
  
a:hover {
    background-color: #555;
}

h1 {
    margin-left: 5%;
    margin-bottom: 0%;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    margin-left: 5%;
    margin-top: 1.5%;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 0px;
    margin-left: 5%;
    margin-top: 30px;
    padding: 0px;
    border-spacing: 0px;
    border: 2px var(--border) solid;
    border-radius: 20px;
}

table tr:nth-child(n) {
    background: var(--table);
}

table tr:nth-child(1) {
    background: var(--table-top);
}

tr {
    border: 1px black dotted;
}

td {
    text-align: center;
    padding: 10px;
    font-size: larger;
}

button {
    margin-left: 40%;
    padding: 8px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}